<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon name="funnel"></ion-icon>
      <ion-toggle [(ngModel)]="sortChecked"  mode ="md" color="success" (ionChange)="sort($event)"></ion-toggle>
    </ion-buttons>
    <ion-title>
      Cores
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="cores$ | async as cores">
    <ion-card *ngFor="let core of cores" button [routerLink]="['/launches']" routerDirection="forward">
      <ion-card-header>
        <ion-card-subtitle>{{core.core_serial}}</ion-card-subtitle>
        <ion-card-title class="textColor" color="#FFFFFF">{{core.missions[0].name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="textColorGray">{{core.details || "No details" }}</p>
        <ion-row class="pt-3 d-flex flex-row-reverse">
          <ion-button disabled="true" color="dark" expand="block" fill="outline" size="small">
            {{ core.status }}
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-img class="image" height="250 px" width="250 px" src="../../../../assets/images/fusee-png-3.png"></ion-img>
  </ng-container>
</ion-content>
