h1 {
  padding-top: 2%;
  padding-left: 1%;
}

h2 {
  padding-left: 2%;
}

p {
  padding-top: 1%;
  padding-left: 2%;
  font-size: medium;
  text-decoration: underline;
}



#manufacturer {
  padding-top: 1%;
  padding-bottom: 1%;
}

#wrapper {
  padding-top: 20px;
  width: 900px;
  overflow: hidden;
}

#urls {
  width: 700px;
  float: left;
}

#payloads {
  width: 200px;
  float: left;
}
#wikiLogo {
  width: 9%;
  padding-left: 2%;
  padding-bottom: 3px;
}

#twitterLogo {
  width: 8%;
  height: 6%;
  padding-bottom: 7px;
  padding-left: 2%;
}

#websiteLogo {
  width: 9%;
  height: 9%;
  padding-left: 9px;
  margin-left: 7px;
}

#payloadLabel {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #039be5;
  text-decoration: underline;
}
