h1 {
  padding-top: 2%;
  padding-left: 1%;
}

h2 {
  padding-left: 2%;
}

p {
  padding-top: 1%;
  padding-left: 2%;
}

#wikiLogo {
  width: 7%;
  height: 7%;
  padding-left: 2%;
}

#twitterLogo {
  width: 6%;
  height: 6%;
  padding-bottom: 5px;
  padding-left: 2%;
}

#websiteLogo {
  width: 6%;
  height: 7%;
  padding-left: 9px;
  margin-left: 7px;
}
