<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Missions
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="missions$ | async as missions">
    <ion-item *ngFor="let mission of missions" button [routerLink]="['/missions', mission.mission_id]" routerDirection="forward" padding="2">
      <ion-img margin="10px" class="image" height="50 px" width="50 px" src="https://picsum.photos/id/344/200/200"></ion-img>
      <ion-label class="d-inline">
        <h2>{{mission.mission_id }}</h2>
        <p class="ion-text-wrap" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-height: 16px; max-height: 32px; -webkit-box-orient: vertical">{{mission.description}}</p>
        <ion-card-subtitle class="textColorWhite">{{ mission.website }}</ion-card-subtitle>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
