<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Lancement Détails</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <app-skeleton *ngIf="!launch"></app-skeleton>
        <!-- <ion-item *ngFor="let l of launch">
            <ion-label>{{ l.details }}</ion-label>
        </ion-item> -->
        <!-- {{launch | json }} -->
        <div *ngIf="launch" > 
          <ion-thumbnail slot="start">
            <ion-skeleton-text *ngIf="!launch.links.mission_patch"></ion-skeleton-text>
            <img *ngIf="launch.links.mission_patch" [src]="launch.links.mission_patch">
          </ion-thumbnail>
          <ion-label>
            <h2>{{launch.mission_name}}</h2>
            <p>{{launch.launch_site.site_name_long}}</p>
            <p>{{launch.rocket.rocket_name}}</p>
          </ion-label>
          <ion-note slot="end">
            {{launch.launch_year}}
          </ion-note>
        </div>
        
  </ion-content>